[Desktop Entry]
Version=1.0
Type=Application
Name=Cargopit
Comment=Device manager for racing sims
Exec=cargopit-tui
Icon=io.github.M4X1K02.cargopit
Terminal=true
Categories=Game;Development;
