[Desktop Entry]
Version=1.0
Type=Application
Name=Monocoque
Comment=Device manager for racing sims
Exec=cargopit-tui
Icon=io.github.spacefreak18.monocoque
Terminal=true
Categories=Game;Development;
