[Desktop Entry]
Version=1.0
Type=Application
Name=Cargopit
Comment=Device manager for racing sims
Exec=cargopit play
Icon=io.github.spacefreak18.monocoque
Terminal=true
Categories=Game;Development;
