Package: cargopit
Version: 0.4.0
Section: misc
Priority: optional
Architecture: amd64
Maintainer: M4X1K02 <maxik.secure@tutanota.com>
Description: Racing Simulator Device Manager
Depends: libpulse0,liblua5.4-0,libserialport0,libhidapi-hidraw0,libproc2-0
