[Desktop Entry]
Version=1.0
Type=Application
Name=Cargopit
Comment=Launch Cargopit
Exec=cargopit play
Icon=monocoque
Terminal=true
Categories=Game;Development;
