[Desktop Entry]
Version=1.0
Type=Application
Name=Cargopit
Comment=Launch Cargopit TUI
Exec=cargopit-tui
Icon=cargopit
Terminal=true
Categories=Game;Development;
